h3 {
  margin-top: 40px;

  @media screen and (max-width: 480px) {
    margin-top: 20px;
  }
}

ul {
  // list-style-type: none;
  padding: 0;

  li {
    // display: inline-block;
    margin: 0 10px;
  }
}

a {
  // color: #42b983;
  text-decoration: none;
}


.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (min-width: 481px) and (max-width: 992px) {
    justify-content: space-evenly;

  }
}
